@model int
<style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
        height: 450px
    }
    /* Set gray background color and 100% height */
    .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 100%;
    }
</style>

@{
    if (User.IsInRole("Professor"))
    {

    }
    else if (User.IsInRole("Aluno"))
    {
       
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                    <p><a asp-action="Index" asp-route-id="1">Rank Geral</a></p>
                    <p><a asp-action="Index" asp-route-id="2">Rank Semanal</a></p>
                    <p><a asp-action="Index" asp-route-id="3">Rank do Mês</a></p>
                </div>
                <div class="col-sm-8 text-left">
                    <h1>Ranking</h1>
                    @await Component.InvokeAsync("RankList", new { op = Model, showList = true })

                </div>
            </div>
        </div>
    }
    else if (User.IsInRole("Administrador"))
    {
    }
    else
    {
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                    <p><a asp-action="Index" asp-route-id="1">Rank Geral</a></p>
                    <p><a asp-action="Index" asp-route-id="2">Rank Semanal</a></p>
                    <p><a asp-action="Index" asp-route-id="3">Rank do Mês</a></p>
                </div>
                <div class="col-sm-8 text-left">
                    <h1>Ranking</h1>
                    @await Component.InvokeAsync("RankList", new { op = Model, showList = true })

                </div>
            </div>
        </div>
    }
}
