@using Projeto.Alfa12.Views.Modulos.Creates


<div class="tabs is-boxed">
    <ul>
        <li class="">
            <a asp-action="Create">
                Create
            </a>
        </li> 
        <li >
            <a asp-action="Create2">
                Create2
            </a>
        </li>
        <li >
            <a asp-action="Create3">
                Create3
            </a>
        </li>
        <li >
            <a asp-action="Create4">
                Create4
            </a>
        </li>
        <li >
            <a asp-action="Create5">
                Create5
            </a>
        </li>

    </ul>
    </div>

             

