@using Projeto.Alfa12.Views.Modulos.Creates

<div id="tabs" class="tabs is-boxed">
    <ul>
        <li >
            <a asp-action="Create">
                Link
            </a>
        </li>
        <li>
            <a asp-action="Create2">
               Arquivo
            </a>
        </li>
        <li>
            <a asp-action="Create3">
                Texto
            </a>
        </li>
        <li>
            <a asp-action="Create4">
                Correção online
            </a>
        </li>
        <li class="is-active">
            <a asp-action="Create5">
                Correção manual
            </a>
        </li>

    </ul>
</div>


