@model Projeto.Alfa12.Models.Professor


<h2 class="title">Edit</h2>

<h4 class="subtitle">Professor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="help is-danger"></div>
            <div class="field">
                <div class="checkbox">
                    <label>
                        <input asp-for="Autenticado" /> @Html.DisplayNameFor(model => model.Autenticado)
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="checkbox">
                    <label>
                        <input asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                    </label>
                </div>
            </div>
            <div class="field">
                <label asp-for="Nome" class="label" ></label>
                <input asp-for="Nome" class="input" />
                <span asp-validation-for="Nome" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Sobrenome" class="label" ></label>
                <input asp-for="Sobrenome" class="input" />
                <span asp-validation-for="Sobrenome" class="help is-danger"></span>
            </div>

            <div class="field">
                <label asp-for="DataNascimento" class="label" ></label>
                <input asp-for="DataNascimento" class="input" />
                <span asp-validation-for="DataNascimento" class="help is-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />

            <div class="field">
                <label asp-for="Email" class="label" ></label>
                <input asp-for="Email" class="input" />
                <span asp-validation-for="Email" class="help is-danger"></span>
            </div>


            <div class="field">
                <label asp-for="PhoneNumber" class="label"></label>
                <input asp-for="PhoneNumber" class="input" />
                <span asp-validation-for="PhoneNumber" class="help is-danger"></span>
            </div>

            <div class="field">
                <input type="submit" value="Salvar" class="button is-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   <a asp-action="Index" class="button is-danger">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
