<!DOCTYPE html>
<html class="route-documentation fontawesome-i2svg-active fontawesome-i2svg-complete">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <title>Projeto.Alfa12</title>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://bulma.io/vendor/clipboard-1.7.1.min.js"></script>
    <script src="https://bulma.io/vendor/js.cookie-2.1.4.min.js"></script>
    <script src="https://bulma.io/lib/main.js?v=201804141532"></script>



</head>
<body style="height:150px; width:150px;">
                    <div>
                       

                        @RenderBody()
                    </div>
                
</body>
</html>
