@model IndexViewModel
@{
    ViewData.AddActivePage(ManageNavPages.Index);
   
        ViewData["Nome"] = "Index";
    
}

<h4 class="subtitle">@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="help is-danger"></div>
            <div class="field">
                <label asp-for="Username" class="label"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="field">
                <label asp-for="Email" class="label"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="input" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="input" />
                    <button asp-action="SendVerificationEmail" class="btn btn-link">Enviar email de confirmação</button>
                }
                <span asp-validation-for="Email" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="PhoneNumber" class="label"></label>
                <input asp-for="PhoneNumber" class="input" />
                <span asp-validation-for="PhoneNumber" class="help is-danger"></span>
            </div>
            <button type="submit" class="button is-primary">Salvar</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
