@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "";
}

<h2 class="title">Esqueceu sua senha?</h2>

<hr />
<div class="columns">
    <div class="column is-half">
        <h4 class="subtitle">Insira seu E-mail.</h4>
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="help is-danger"></div>
            <div class="field">
                <label asp-for="Email" class="label"></label>
                <input asp-for="Email" class="input" />
                <span asp-validation-for="Email" class="help is-danger"></span>
            </div>
            <button type="submit" class="button is-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
