
<h2 class="title">Crie sua conta.</h2>

<div class="columns">
    <div class="column is-half">

        <a  asp-area="" asp-controller="Alunos" asp-action="Register">
            <span>Registrar-se como aluno</span>
        </a>
        <hr />
        <a  asp-area="" asp-controller="Professores" asp-action="Register">
            <span>Registrar-se como Professor</span>
        </a>


    </div>
</div>
