@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h2 class="title">@ViewData["Title"]</h2>
<h4 class="subtitle">Reset your password.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="help is-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="field">
                <label asp-for="Email" class="label"></label>
                <input asp-for="Email" class="input" />
                <span asp-validation-for="Email" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Password" class="label"></label>
                <input asp-for="Password" class="input" />
                <span asp-validation-for="Password" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="ConfirmPassword" class="label"></label>
                <input asp-for="ConfirmPassword" class="input" />
                <span asp-validation-for="ConfirmPassword" class="help is-danger"></span>
            </div>
            <button type="submit" class="button is-primary">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
