
@model int
@{
    ViewData["Nome"] = "Index";
    Layout = "_LayoutHome";
}

@{

    var statusCode = Model;

    var statusmessage = "";

    switch (statusCode)

    {

        case 400:

            statusmessage = "Bad request: The request cannot be fulfilled due to bad syntax";

            break;

        case 403:

            statusmessage = "Forbidden";

            break;

        case 404:

            statusmessage = "Page not found";

            break;

        case 408:

            statusmessage = "The server timed out waiting for the request";

            break;

        case 500:

            statusmessage = "Internal Server Error - server was unable to finish processing the request";

            break;

        default:

            statusmessage = "That’s odd... Something we didn't expect happened";

            break;

    }

}


<section class="hero is-medium is-light is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Error @Model</h1>
            <h3 class="subtitle">@statusmessage</h3>
        </div>
    </div>
</section>
