@model Modulo


<h2>Home</h2>

<form asp-action="GetPonto">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="AddPonto" class="btn btn-default" /> 
</form>
<a asp-action="GetPonto" class="btn btn-default" asp-route-id="@Model.Id">Add Ponto</a>
