@using Microsoft.AspNetCore.Identity
@using Projeto.Alfa12.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="navbar-item" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">
        Bem vindo @UserManager.GetUserAsync(User).Result.FullName!
    </a>


    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-item">
        <button type="submit" class="button is-text">Sair</button>
    </form>
}
else
{
    <div class="navbar-item has-dropdown is-hoverable">

        <a class="navbar-link" href="#">
            Registrar <span class="caret"></span>
        </a>
        <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" asp-area="" asp-controller="Alunos" asp-action="Register">
                <span>Registrar Aluno</span>
            </a>
            <a class="navbar-item" asp-area="" asp-controller="Professores" asp-action="Register">
                <span>Registrar Professor</span>
            </a>
        </div>


    </div>
    <a class="navbar-item" asp-area="" asp-controller="Account" asp-action="Login">
        <span class="glyphicon glyphicon-log-in"></span>
        <span>Entrar</span>
    </a>
}
