@using Microsoft.AspNetCore.Identity
@using Projeto.Alfa12.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{

    if (!SignInManager.IsSignedIn(User))
    {

<section class="hero is-medium is-light is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h2 class="title">Bem Vindo....</h2>
            <h3 class="subtitle is-3">Ambiente de treinamento modular gamificado</h3>
        </div>
        </div>
</section>
<section class="section">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">Modular</p>
                <!--<p class="subtitle">img de modulo</p>-->
                <div class="content">
                    <p><i class="fas fa-th fa-9x"></i></p>
                </div>
            </article>
        </div>
        <div class="tile is-parent has-text-centered">
            <article class="tile is-child box">
                <p class="title">Aprendizagem</p>
                <!--<p class="subtitle">AvA</p>-->
                <div class="content">
                    <p><i class="fas fa-book fa-9x"></i></p>
                </div>
            </article>
        </div>
        <div class="tile is-parent has-text-centered">
            <article class="tile is-child box">
                <p class="title">Gamificado</p>
                <!--<p class="subtitle">jogos</p>-->
                <div class="content">
                    <p><i class="fas fa-gamepad fa-9x"></i></p>
                </div>
            </article>
        </div>
    </div>
</section>
        <h4 class="subtitle"><a asp-controller="Account" asp-action="Login">Clique aqui para realizar o Login</a></h4>
        
    }
    else
    {


        <div class="bd-lead">

            <div class="columns ">
                <div class="column">

                    @{
                        if (User.IsInRole("Professor"))
                        {
                            <h2 class="title">Página do Professor</h2>
                            var x = (Professor)await UserManager.GetUserAsync(User);
                            if (x.Autenticado == true)
                            {
                                <a asp-controller="Manage">Seu Perfil</a><br />
                                <a asp-controller="Turmas" asp-action="Index">Visualizar turmas</a><br />
                                <a asp-controller="Turmas" asp-action="IndexProfessor">Minhas Turmas</a><br />
                                <a asp-controller="Modulos">Meus Módulos</a>
                            }
                        }
                        else if (User.IsInRole("Aluno"))
                        {

                            <h2 class="title">Página do Aluno</h2>

                            <a asp-controller="Manage">Seu Perfil</a><br />
                            <a asp-controller="Turmas" asp-action="IndexAluno">Minhas Turmas</a><br />
                            <a asp-controller="Turmas" asp-action="Index">Pesquisar turmas</a><br />
                            <a>enviar mensagem</a><br />
                            <a>visualizar ranking</a><br />

                        }
                        else if (User.IsInRole("Administrador"))
                        {

                            <h2 class="title">Página do Coordenador</h2>

                            <a asp-controller="Alunos" asp-action="Index">Editar Alunos</a><br />
                            <a asp-controller="Professores" asp-action="Index">Editar Professores</a><br />
                            <a asp-controller="Turmas" asp-action="IndexAdmin">Ver Turmas</a><br />
                            <a asp-controller="LogUsuarios">log</a>
                        }
                        else
                        {
                            <h2 class="title">Você não possui Autenticação</h2>

                        }

                    }

                </div>
                <div class="column">
                    <h2 class="title">Texto 1</h2>
                    <ul>
                        <li>t</li>
                        <li>t</li>
                    </ul>
                </div>
                <div class="column">
                    <h2 class="title">Texto 2</h2>
                </div>




                <div class="column">
                    <p class="subtitle">Ranking Geral</p>
                    <!--await Component.InvokeAsync("Poco")-->
                    <!--await Component.InvokeAsync(nameof(RankList))-->
                    @await Component.InvokeAsync("RankList", new { op = 0, showList = true, turma = 0 })
                </div>
            </div>
        </div>




    }
}
