@model RankViewModel
<table class="table table-sm table-bordered">
    <tr>
        <td>Usuários:</td>
        <td class="text-right">
            @Model.Nome
        </td>
    </tr>
    <tr>
        <td>Pontos:</td>
        <td class="text-right">
            @Model.Ponto
        </td>
    </tr>
</table>