@model IEnumerable<Aluno>
<table class="card">
    <thead>
        <tr>
            <th>Aluno</th>
            <th>Pontos</th>
        </tr>
    </thead>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.FullName</td>
            <td class="text-right">
                @p.PontoParcial
            </td>
        </tr>
    }

</table>