@model AlunoRegister
@{
    ViewData["Nome"] = "Registrar";
}
<h2 class="title">Crie sua conta</h2>

<div class="columns">
    <div class="column is-half">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <hr />
            <div asp-validation-summary="All" class="help is-danger"></div>
            <div class="field">
                <label asp-for="Email" class="label"></label>
                <input asp-for="Email" class="input" type="text" placeholder="Email" />
                <span asp-validation-for="Email" class="help"></span>
                <!--help is-success, help is-danger-->
            </div>
            <div class="field">

                <label asp-for="Password" class="label"></label>
                <p class="control has-icons-left">
                    <input asp-for="Password" class="input" type="password" placeholder="Senha" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
                <span asp-validation-for="Password" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="ConfirmPassword" class="label"></label>
                <p class="control has-icons-left">
                    <input asp-for="ConfirmPassword" class="input" type="password" placeholder="Senha" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
                <span asp-validation-for="ConfirmPassword" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Firstname" class="label"></label>
                <input asp-for="Firstname" class="input" />
                <span asp-validation-for="Firstname" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Lastname" class="label"></label>
                <input asp-for="Lastname" class="input" />
                <span asp-validation-for="Lastname" class="help is-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Birthday" class="label"></label>
                <input asp-for="Birthday" class="input" type="date" />
                <span asp-validation-for="Birthday" class="help is-danger"></span>
            </div>

            <button type="submit" class="button is-primary">Registrar</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
