@model Projeto.Alfa12.Models.Turma


@{
    ViewData["Nome"] = "Entrar";
}
<h4 class="subtitle">Turma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EntrarTurma">
            <div asp-validation-summary="ModelOnly" class="help is-danger"></div>
            <div class="field">
                <label asp-for="ChaveAcesso" class="label" class="label"></label>
                <input asp-for="ChaveAcesso" class="form-control" value="" />
                <span asp-validation-for="ChaveAcesso" class="help is-danger"></span>
            </div>
            <div class="field">
                <input type="submit" value="Entrar" class="button is-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
