@model Projeto.Alfa12.Models.Modulo
@{
    Layout = "/Views/Shared/_Layout.cshtml";
   
        ViewData["Nome"] = "Responder Atividades";
   
}


<h2>RespAluno</h2>
 Ferramenta = 1,
        ConteudoPdf,
        ConteudoTexto,
        RespAuto,
        RespManual
@{

    if (Model.Tipo == (TipoMod)5)
    {
        <p class="subtitle">Descrição:@Html.DisplayFor(model => Model.Descricao)</p>
        <p class="subtitle">Texto:@Html.DisplayFor(model => Model.Texto)</p>

        <form asp-action="RespAluno">
            <div asp-validation-summary="ModelOnly" class="help is-danger"></div>
            <input asp-for="Id" value=@Model.Id type="hidden" />
            <div class="field">
                <label asp-for="Resposta" class="label"></label>
                <input asp-for="Resposta" class="input" />
                <span asp-validation-for="Resposta" class="help is-danger"></span>
            </div>
            <div class="field">
                <input type="submit" value="Salvar" class="button is-primary" />
            </div>
        </form>
    }
    else if (Model.Tipo == (TipoMod)4)
    {
        <p>Tipo 4</p>
    }
    else if (Model.Tipo == (TipoMod)3)
    {
        <p>Tipo 3</p>
    }
    else if (Model.Tipo == (TipoMod)2)
    {
        <p>Tipo 2</p>
    }
    else if (Model.Tipo == (TipoMod)1)
    {
        <p>Tipo 1</p>
    }
    else
    {
        <p>outro</p>

    }
}