@model ModuloPontuacaoViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";

    ViewData["Nome"] = "Responder Atividades";

}


@{

    if (Model.modulo.Tipo == (TipoMod)5)
    {
        <p class="subtitle">Descrição da atividade</p>
        <p>@Html.DisplayFor(model => Model.modulo.Descricao)</p>
        <p class="subtitle">Texto</p>
        <p>@Html.DisplayFor(model => Model.modulo.Texto)</p>

        <form asp-action="RespAluno">
            <div asp-validation-summary="ModelOnly" class="help is-danger"></div>
            <input asp-for="modulo.Id" value=@Model.modulo.Id type="hidden" />
            <div class="field">
                <label asp-for="pontuacao.Resposta" class="label"></label>

                <textarea asp-for="pontuacao.Resposta" class="textarea"></textarea>

                <span asp-validation-for="pontuacao.Resposta" class="help is-danger"></span>
            </div>

            <div class="field">
                <input type="submit" value="Salvar" class="button is-primary" />
            </div>

        </form>
    }
    else if (Model.modulo.Tipo == (TipoMod)4)
    {
        <p> RespAuto</p>
        <p class="subtitle">Descrição da atividade</p>
        <p>@Html.DisplayFor(model => Model.modulo.Descricao)</p>
        <p class="subtitle">Texto</p>
        <p>@Html.DisplayFor(model => Model.modulo.Texto)</p>

        <form asp-action="RespAluno">
            <div asp-validation-summary="ModelOnly" class="help is-danger"></div>
            <input asp-for="modulo.Id" value=@Model.modulo.Id type="hidden" />
            <div class="field">
                <label asp-for="pontuacao.Resposta" class="label"></label>

                <textarea asp-for="pontuacao.Resposta" class="textarea"></textarea>

                <span asp-validation-for="pontuacao.Resposta" class="help is-danger"></span>
            </div>

            <div class="field">
                <input type="submit" value="Salvar" class="button is-primary" />
            </div>

        </form>
    }
    else if (Model.modulo.Tipo == (TipoMod)3)
    {
        <p>ConteudoTexto</p>
    }
    else if (Model.modulo.Tipo == (TipoMod)2)
    {
        <p>
            ConteudoPdf
        </p>
    }
    else if (Model.modulo.Tipo == (TipoMod)1)
    {
        <p>Ferramenta</p>
    }
    else
    {
        <p>outro</p>

    }
}